<template>
    <el-input
        placeholder="Поиск по названию"
        v-model="localValue"
    ></el-input>
</template>
<script>
    export default {
        props: ['value'],
        data () {
            return {
                localValue: null
            }
        },
        created() {
            this.localValue = this.value;
            this.$watch('localValue', (value, oldValue) => {
                if (value !== oldValue) {
                    this.$emit('input', value);
                }
            });
        }
    }
</script>
