<template>
    <div class="grid-content bg-purple">
        <span slot="label">Этажи:</span>
        <el-input-number
            :min="0"
            :max="20"
            v-model="localValue"
        ></el-input-number>
    </div>
</template>
<script>
    export default {
        props: ['value'],
        data () {
            return {
                localValue: null
            }
        },
        created() {
            this.localValue = this.value;
            this.$watch('localValue', (value, oldValue) => {
                if (value !== oldValue) {
                    this.$emit('input', value);
                }
            });
        }
    }
</script>
