<template>
    <Apartment
        v-bind:apartments="apartments"
    ></Apartment>
</template>
<script>
    import Apartment from './Apartment/Index';

    export default {
        data () {
            return {
                apartments: [],
            }
        },

        components: {
            Apartment,
        },

        mounted () {
            this.showApartments();
        },

        methods: {
            showApartments: function() {
                this.axios.get('/api/apartment/show').then((response) => {
                    this.empty = response.data.data.error;

                    if (response.data.data.apartments) {
                        this.apartments = response.data.data.apartments;
                    }
                });
            },
        }
    }
</script>
