<template>
    <el-container>
        <el-header>
            <h1>Пример: поиск и фильтрация данных</h1>
        </el-header>

        <el-container>
            <el-main>
                <el-menu :router="true" class="el-menu-demo" mode="horizontal">
                    <el-menu-item>
                        <router-link :to="{ name: 'home'}" class="nav-item nav-link">Фильтр</router-link>
                    </el-menu-item>
                </el-menu>

                <router-view></router-view>
            </el-main>
        </el-container>
    </el-container>
</template>
<script>
    export default {}
</script>
