<template>
    <div>
        <el-row class="el-row"></el-row>
        <el-row class="el-row">
            <el-col :md="24" v-if="!empty">
                <el-row>
                    <el-col :md="24">
                        <div v-if="empty"><span>Данные не найдены</span></div>

                        <div v-if="!loading && !empty" align="right">
                            <el-tag type="warning">
                                Найдено записей: <span v-text="filteredApartments.length"></span>
                            </el-tag>
                        </div>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :md="24" v-if="!empty">
                        <el-row :gutter="20" class="el-row">
                            <el-col :xs="8" :sm="6" :md="5" :lg="3" :xl="1">
                                <FilterMinPrice v-model="minPrice"></FilterMinPrice>
                            </el-col>
                            <el-col :xs="8" :sm="6" :md="5" :lg="3" :xl="1">
                                <!--FilterMaxPrice v-model="maxPrice"></FilterMaxPrice-->
                                <div class="grid-content bg-purple">
                                    <span slot="label">Макс.цена:</span>
                                    <el-input-number
                                        v-model="maxPrice"
                                    ></el-input-number>
                                </div>
                            </el-col>
                            <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="1">
                                <FilterBedroom  v-model="bedrooms"></FilterBedroom>
                            </el-col>
                            <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="1">
                                <FilterBathroom v-model="bathrooms"></FilterBathroom>
                            </el-col>
                            <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="1">
                                <FilterStorey   v-model="storeys"></FilterStorey>
                            </el-col>
                            <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="1">
                                <FilterGarage   v-model="garages"></FilterGarage>
                            </el-col>
                            <el-col :xs="8" :sm="6" :md="4" :lg="6" :xl="1" align="right">
                                <el-link @click="clear" :underline="false" icon="el-icon-edit">Очистить фильтр</el-link>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>

                <el-table
                    v-loading="loading"
                    ref="filterTable"
                    :data="filteredApartments"
                    :default-sort = "{prop: 'id', order: 'ascending'}"
                    stripe
                    style="width: 100%">
                    <el-table-column
                        prop="id"
                        label="Id"
                        width="180"
                        sortable
                    >
                    </el-table-column>
                    <el-table-column
                        prop="name"
                        label="Name"
                        width="180"
                        sortable
                    >
                    </el-table-column>
                    <el-table-column
                        prop="price"
                        label="Price"
                        :formatter="formatter"
                    >
                    </el-table-column>
                    <el-table-column
                        prop="bedrooms"
                        label="Bedrooms"
                        width="180"
                    >
                    </el-table-column>
                    <el-table-column
                        prop="bathrooms"
                        label="Bathrooms"
                    >
                    </el-table-column>
                    <el-table-column
                        prop="storeys"
                        label="Storeys"
                    >
                    </el-table-column>
                    <el-table-column
                        prop="garages"
                        label="Garages"
                    >
                    </el-table-column>
                    <el-table-column
                        align="right">
                        <template slot="header" slot-scope="scope">
                            <FilterName     v-model="name"></FilterName>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import FilterName       from '../Filters/Name';
    import FilterMinPrice   from '../Filters/MinPrice';
    import FilterMaxPrice   from '../Filters/MaxPrice';
    import FilterBedroom    from '../Filters/Bedrooms';
    import FilterBathroom   from '../Filters/Bathrooms';
    import FilterStorey     from '../Filters/Storeys';
    import FilterGarage     from '../Filters/Garages';

    export default {
        props: ['apartments'],

        data () {
            return {
                name: '',
                bedrooms: 0,
                bathrooms: 0,
                storeys: 0,
                garages: 0,
                minPrice: 0,
                maxPrice: 0,
                empty: false,
                loading: true,
            }
        },
        components: {
            FilterName,
            FilterMinPrice,
            FilterMaxPrice,
            FilterBedroom,
            FilterBathroom,
            FilterStorey,
            FilterGarage

        },
        mounted () {
            this.checkFilterName(this.name);
            this.checkFilterRooms(this.bedrooms, 'bedrooms');
            this.checkFilterRooms(this.bathrooms, 'bathrooms');
            this.checkFilterRooms(this.storeys, 'storeys');
            this.checkFilterRooms(this.garages, 'garages');

            this.minPrice = this.getMinPrice();
            this.maxPrice = this.getMaxPrice();
        },

        computed: {
            filteredApartments: function() {
                return this.apartments
                    .filter(apartment => {
                        return this.name.length === 0 || apartment.name.toLowerCase().indexOf(this.name.toLowerCase()) !== -1;
                    })
                    .filter(apartment => {
                        return Number(this.bedrooms) === 0 || Number(apartment.bedrooms) === Number(this.bedrooms);
                    })
                    .filter(apartment => {
                        return Number(this.bathrooms) === 0 || Number(apartment.bathrooms) === Number(this.bathrooms);
                    })
                    .filter(apartment => {
                        return Number(this.storeys) === 0 || Number(apartment.storeys) === Number(this.storeys);
                    })
                    .filter(apartment => {
                        return Number(this.garages) === 0 || Number(apartment.garages) === Number(this.garages);
                    })
                    .filter(apartment => {
                        return Number(apartment.price) >= Number(this.minPrice) && Number(apartment.price) <= Number(this.maxPrice);
                    });
            },
        },

        methods: {
            formatter(row, column) {
                return row.price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ');
            },

            checkFilterName: function(element) {
                if (element !== '' || element.length !== 0) {
                    this.axios.post('/api/apartment/filter/name', {
                        name: element
                    }).then((response) => {
                        this.empty = response.data.data.error;

                        if (response.data.data.apartments) {
                            this.loading = false;
                            this.apartments = response.data.data.apartments;
                        }
                    });
                }
            },

            checkFilterRooms: function(element, field) {
                if (element.length !== 0 || element !== '') {
                    this.axios.post('/api/apartment/filter/rooms', {
                        number: element,
                        field: field
                    }).then((response) => {
                        this.empty = response.data.data.error;
                        this.loading = response.data.data.error;

                        if (!response.data.data.error) {
                            this.apartments = response.data.data.apartments;
                        }
                    });
                }
            },

            getMinPrice: function() {
                /*
                if (this.apartments.length === 0) {
                    return;
                }

                return this.apartments.reduce((a, b) => Number(a.price) < Number(b.price) ? a : b).price;
                */

                this.axios.get('/api/apartment/prices/min').then((response) => {
                    this.empty = response.data.data.error;
                    this.loading = response.data.data.error;

                    if (!response.data.data.error) {
                        this.minPrice = response.data.data.min;
                    }
                });
            },

            getMaxPrice: function() {
                /*
                if (this.apartments.length === 0) {
                    return;
                }

                return this.apartments.reduce((a, b) => Number(a.price) > Number(b.price) ? a : b).price;
                */

                this.axios.get('/api/apartment/prices/max').then((response) => {
                    this.empty = response.data.data.error;
                    this.loading = response.data.data.error;

                    if (!response.data.data.error) {
                        this.maxPrice = response.data.data.max;
                    }
                });
            },

            clear: function() {
                this.name = '';
                this.bedrooms = 0;
                this.bathrooms = 0;
                this.storeys = 0;
                this.garages = 0;
                this.minPrice = this.getMinPrice();
                this.maxPrice = this.getMaxPrice();
                this.empty = false;
                this.loading = true;
            }
        },
    }
</script>
<style>
    .el-row {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap
    }
</style>
